<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить пользователя из секции</title>
</head>

<body>
    <h1>Удалить пользователя из секции</h1>
    <p>Вы уверены, что хотите удалить пользователя "{{ user.username }}" из секции "{{ section.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'section_list' %}">Назад к списку секций</a>
</body>

</html>